{{- $imageCfg := dict "global" $.Values.global.image "local" $.Values.image -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-engine
  labels:
    {{- include "workspace-engine.labels" . | nindent 4 }}
    {{- if .Values.statefulset.labels -}}
    {{-   toYaml .Values.statefulset.labels | nindent 4 }}
    {{- end }}
  annotations:
    {{- if .Values.statefulset.annotations -}}
    {{-   toYaml .Values.statefulset.annotations | nindent 4 }}
    {{- end }}
spec:
  serviceName: {{ .Release.Name }}-engine
  replicas: {{ .Values.replica }}
  selector:
    matchLabels:
      {{- include "workspace-engine.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "workspace-engine.labels" . | nindent 8 }}
      annotations:
        {{- if .Values.pod.annotations -}}
        {{-   toYaml .Values.pod.annotations | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "workspace-engine.serviceAccountName" . }}
      {{- if .tolerations }}
      tolerations:
        {{- toYaml .tolerations | nindent 8 }}
      {{- end }}
      {{- include "ctrlplane.nodeSelector" . | nindent 6 }}
      {{- include "ctrlplane.priorityClassName" . | nindent 6 }}
      {{- include "ctrlplane.podSecurityContext" .Values.pod.securityContext | nindent 6 }}
      containers:
        - name: workspace-engine
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - name: http2
              containerPort: 8081
              protocol: TCP
          env:
            - name: KAFKA_BROKERS
              value: {{ .Values.global.kafka.brokers | quote }}
            - name: KAFKA_GROUP_ID
              value: {{ .Values.global.kafka.groupId | quote }}
            - name: KAFKA_TOPIC
              value: {{ .Values.global.kafka.topic | quote }}

            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

            - name: REGISTER_ADDRESS
              value: "http://$(POD_NAME).{{ .Release.Name }}-engine.{{ .Release.Namespace }}.svc.cluster.local:8081"
            - name: ROUTER_URL
              value: "http://{{ .Release.Name }}-workspace-engine-router.{{ .Release.Namespace }}.svc.cluster.local:9091"

            {{- include "ctrlplane.postgresqlEnvVars" . | nindent 12 }}
            {{- include "ctrlplane.githubBotEnvVars" . | nindent 12 }}
            - name: VARIABLES_AES_256_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.secrets.encryptionKey.secretName | default (printf "%s-encryption-key" .Release.Name) }}
                  key: {{ .Values.global.secrets.encryptionKey.secretKey | default "AES_256_KEY" }}
            {{- include "ctrlplane.extraEnv" . | nindent 12 }}
            {{- include "ctrlplane.extraEnvFrom" (dict "root" $ "local" .) | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
