{{- if .Values.ingress.create }}
{{- $fqdn := .Values.global.fqdn | trimPrefix "https://" | trimPrefix "http://" -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "ctrlplane.fullname" . }}
  labels:
    {{- include "ctrlplane.labels" . | nindent 4 }}
    {{- with .Values.ingress.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.class }}
  ingressClassName: {{ .Values.ingress.class }}
  {{- end }}
  {{- if and $fqdn .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ $fqdn }}
      secretName: {{ .Values.ingress.tls.secretName | default (printf "%s-tls" (include "ctrlplane.fullname" .)) }}
  {{- end }}
  defaultBackend:
    service:
      name: {{ .Release.Name }}-web
      port:
        number: 3000
  rules:
    - {{- if $fqdn }}
      host: {{ $fqdn }}
      {{- end }}
      http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: {{ .Release.Name }}-web
                port:
                  number: 3000
          - pathType: Prefix
            path: /api
            backend:
              service:
                name: {{ .Release.Name }}-api
                port:
                  number: 8081
          - pathType: Prefix
            path: /api/v1/resources/proxy
            backend:
              service:
                name: {{ .Release.Name }}-pty-proxy
                port:
                  number: 4000
{{- end }}
