---
{{- $secretName := (printf "%s-encryption-key" .Release.Name) }}
{{- $secret := (lookup "v1" "Secret" .Release.Namespace $secretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "ctrlplane.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if $secret }}
  AES_256_KEY: {{ $secret.data.AES_256_KEY }}
  {{- else }}
  AES_256_KEY: {{ randAlphaNum 64 | b64enc | quote }}
  {{- end }}
