{{- if not (include "ctrlplane.isValueFrom" .Values.global.secrets.encryptionKey) }}
---
{{- $secretName := (printf "%s-encryption-key" .Release.Name) }}
{{- $existing := (lookup "v1" "Secret" .Release.Namespace $secretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "ctrlplane.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if and $existing (hasKey $existing.data "AES_256_KEY") }}
  AES_256_KEY: {{ index $existing.data "AES_256_KEY" }}
  {{- else }}
  AES_256_KEY: {{ randAlphaNum 64 | b64enc | quote }}
  {{- end }}
{{- end }}
