{{- if .Values.global.secrets.authSecret.create }}
{{- $secretName := .Values.global.secrets.authSecret.secretName | default (include "api.fullname" .) }}
{{- $secretKey := .Values.global.secrets.authSecret.secretKey | default "AUTH_SECRET" }}
{{- $existing := (lookup "v1" "Secret" .Release.Namespace $secretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "api.labels" . | nindent 4 }}
data:
{{- if and $existing (hasKey $existing.data $secretKey) }}
  {{ $secretKey }}: {{ index $existing.data $secretKey }}
{{- else }}
  {{ $secretKey }}: {{ randAlphaNum 64 | b64enc }}
{{- end }}
{{- end }}
