apiVersion: v2
name: ctrlplane
description: Ctrlplane Helm chart for Kubernetes
type: application
version: 0.8.0
appVersion: "1.0.0"

maintainers:
  - name: ctrlplane
    email: support@ctrlplane.com
    url: https://ctrlplane.dev

dependencies:
  - name: webservice
    version: "*.*.*"
    repository: file://charts/webservice
    condition: webservice.install
  - name: jobs
    version: "*.*.*"
    repository: file://charts/jobs
    condition: jobs.install
  - name: migrations
    version: "*.*.*"
    repository: file://charts/migrations
    condition: migrations.install
  - name: event-queue
    condition: event-queue.install
    version: "*.*.*"
    repository: "file://charts/event-queue"
  - name: otel
    condition: otel.install
    version: "*.*.*"
    repository: "file://charts/otel"
  - name: pty-proxy
    condition: pty-proxy.install
    version: "*.*.*"
    repository: "file://charts/pty-proxy"
  - name: workspace-engine
    condition: workspace-engine.install
    version: "*.*.*"
    repository: "file://charts/workspace-engine"
  - name: api
    condition: api.install
    version: "*.*.*"
    repository: "file://charts/api"
  - name: web
    condition: web.install
    version: "*.*.*"
    repository: "file://charts/web"
  - name: workspace-engine-router
    condition: workspace-engine-router.install
    version: "*.*.*"
    repository: "file://charts/workspace-engine-router"
